# Core
langchain==0.2.17
langchain-core==0.2.43
langchain-community==0.2.19
langchain-google-genai==1.0.10

python-dotenv==1.0.1
pydantic==2.9.2
rich==13.9.4

# Search
duckduckgo-search==6.3.5

# Image
Pillow>=11.0.0
requests==2.32.3